<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/views/style.css">
</head>

<body>
    <table>
        <thead>
            <tr class="adding">
                <td><button class="addingaddbtn">Add</button></td>
                <td><input type="text" class="addinginput" id="addingusername" placeholder="Username"><div class="usererror"></div></td>
                <td><input type="password" class="addinginput" id="addingpassword" placeholder="Password"><div class="passerror"></div></td>
                <td><input type="text" class="addinginput" id="addingemail" placeholder="Email"><div class="emailerror"></div></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Users</th>
                <th>Passwords</th>
                <th>Emails</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody">
            <!-- <tr> -->
                <!-- <td class="username"><input type="text" class="editinput" value="dummyuser"></td> -->
                <!-- <td class="username">jay</td>
                <td>dummypass</td>
                <td>dummyeamil</td>
                <td><button class="edit">Edit</button></td>
                <td><button class="done">Done</button></td>
                <td><button id="add">Add</button></td>
            </tr>
            <tr>
                <td class="username">dummyuser</td>
                <td>dummypass</td>
                <td>dummyeamil</td>
                <td><button class="edit">Edit</button></td>
                <td><button class="done">Done</button></td>
                <td><button id="add">Add</button></td>
            </tr> -->
        </tbody>
    </table>
    <script src="/views/script.js"></script>
</body>

</html>
